<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号权限</title>
    <!-- 引入 BootStrap 全家桶 -->
    <!-- 引入Vue.js -->
    <script src="../../res/js/vue.min.js"></script>
    <script src="../../res/js/jquery-3.2.1.min.js"></script>
    <script src="../../res/js/bootstrap.min.js"></script>
    <script src="../../res/js/bootstrap-table.js"></script>
    <link rel="stylesheet" href="../../res/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../res/css/bootstrap-table.css"/>


    <style>
        body,html{
            height: 100%;
        }
        p{
            margin: 0 !important;
        }
        .container {
            width: 100%;
            height: 100%;
        }
        .supplier-head{
            height: 50px;
            line-height: 50px;
        }
        .panel-body{
            padding:0px;
        }
        .row{
            margin: 0;
            padding-top: 10px;
            width: 100%;
        }
        #formSearch .control-label{
            text-align: right;
            padding: 7px 0 0 7px;
        }
        #formSearch .form-control{
            margin-bottom: 20px;
        }
        .addAreaDiv{
            padding-left: 0px;
        }
        .con{
            padding: 7px 15px;
            text-align: right;
        }
    </style>
</head>
<body>
<div class="app container">
    <div class="supplier-head">账号权限 > 账号管理</div>
    <div class="panel-body" style="padding-bottom:0px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong><p class="lead">账号管理</p></strong>
            </div>
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group" style="margin:15px 0;">
                        <div class="row">
                            <label class="control-label col-md-1 col-sm-2 col-xs-2" for="username">用户名：</label>
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <input type="text" class="form-control" id="username" placeholder="用户名...">
                            </div>
                            <label class="control-label col-md-1 col-sm-2 col-xs-2" for="city">城市：</label>
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <select class="btn btn-default form-control select-left" id="city"  propName="" data-toggle="tooltip" data-placement="top" v-model="city" >
                                    <option selected value="" id="d">--城市--</option>
                                    <option v-for="(item , index) in citys" :value="item.city">{{item.city}}</option>
                                </select>
                            </div>
                            <div class="col-md-1 col-sm-2 col-xs-2"></div>
                            <div class="col-md-1 col-sm-2 col-xs-2">
                                <button type="button" style="width: 100%" id="btn_query" class="btn btn-primary" onclick="datasearch()">查询</button>
                            </div>
                            <div class="col-md-1 col-sm-2 col-xs-2">
                                <button type="button" style="width: 100%" id="btn_clear" class="btn btn-primary" onclick="datareset()">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="toolbar" class="btn-group">
        <button id="btn_result" type="button" class="btn btn-default" onclick="resetAddModal()" data-toggle="modal"
                data-target="#userModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加管理员
        </button>
    </div>
    <div class="tablecontent">
        <table class="bootstrap-table fixed-table-container" id="tb_user"></table>
    </div>
    <!--添加账号modal-->
    <div class="user-modal modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="userModalLabel">添加账号</h4>
                </div>
                <div class="modal-body">
                    <form id="formAddUserSubmit" class="form-horizontal">
                        <div class="form-group row">
                            <label class="item-left col-sm-4 col-xs-4 con">城市：</label>
                            <div class="col-sm-7 col-xs-7">
                                <select class="btn btn-default form-control select-left" id="userAddCity"
                                        propName="" data-toggle="tooltip" data-placement="top" v-model="addCity" >
                                    <option selected value="" id="">--城市--</option>
                                    <option v-for="(item , index) in citys" :value="item.city">{{item.city}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="item-left col-sm-4 col-xs-4 con">账号：</label>
                            <div class="col-sm-7 col-xs-7">
                                <input type="text" id="userAddAccount" class="form-control"
                                   name="userAddAccount" v-model="addUser">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="item-left col-sm-4 col-xs-4 con">密码：</label>
                            <div class="col-sm-7 col-xs-7 userAddPass">
                                <input type="text" id="userAddPass" class="form-control" name="userAddPass"
                                       v-model="addPass">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="item-left col-sm-4 col-xs-4 con">角色：</label>
                            <div class="col-sm-7 col-xs-7 userAddRole">
                                <select class="form-control" id="userAddRole"  propName="---请选择角色---" data-toggle="tooltip" data-placement="top" v-model="addRole" style="width:100%">
                                    <option selected value="" id="role">---请选择角色---</option>
                                    <option value="ROLE_USER">ROLE_USER</option>
                                    <option value="ROLE_ONLY_SHOW">	ROLE_ONLY_SHOW</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="submitUserData()">提交</button>
                </div>
            </div>
        </div>
    </div>
    <!--修改密码modal-->
    <div class="user-modal modal fade" id="editPassModal" tabindex="-1" role="dialog" aria-labelledby="editPassModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="editPassModalLabel">密码重置</h4>
                </div>
                <div class="modal-body">
                    <form id="forEditPassSubmit" class="form-horizontal">
                        <div class="form-group row">
                            <label class="item-left col-sm-4 con" style="padding-left: 20px;">账号：</label>
                            <input type="text" id="userEditUser" class="form-control,col-sm-3" name="userEditUser"
                                   value="" v-model="editUser" disabled="true">
                        </div>
                        <div class="form-group row">
                            <label class="item-left col-sm-4 con" style="padding-left: 20px;">重置密码：</label>
                            <input type="text" id="userEditPass" class="form-control,col-sm-3" name="userEditPass"
                                   value="" v-model="editPass">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="submitEditPass()">提交</button>
                </div>
            </div>
        </div>
    </div>
    <!--删除用户modal-->
    <div class="user-modal modal fade" id="delUserModal" tabindex="-1" role="dialog" aria-labelledby="delUserModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="delUserModalLabel">删除用户</h4>
                </div>
                <div class="modal-body">
                    <form id="forDelUserSubmit" class="form-horizontal">
                        确定删除用户<{{delUser}}>吗？
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="submitDelUser()">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var data = {
        citys:[],
        city:"",
        addCity:"",
        addUser:"",
        addPass:"",
        addRole:"",
        editUser:"",
        editPass:"",
        delUser:"",
        userName:"",
        userPass:""
    };
    var vm = new Vue({
        el:'.app',
        data:data,
        methods:{
            submitUserData(){
                if(vm.addCity==""||vm.addCity==undefined||vm.addUser==""||vm.addUser==undefined||vm.addPass==""||vm.addPass==undefined){
                    alert("城市、用户名或密码不能为空！");
                }else {
                    $.post("../add",
                        {
                            city:vm.addCity,
                            userName:vm.addUser,
                            userPass:vm.addPass,
                            userRole:vm.addRole
                        },
                        function(data,status){
                            var _data = data;
                            updateIframe();
                            if(eval(_data)){
                                alert(eval(_data).success);
                            }else{
                                alert(_data);
                            }
                        });
                }
                $("#userModal").modal('hide');
            },
            submitEditPass(){
                if(vm.editPass==""||vm.editPass==undefined){
                    alert("重置密码不能为空！");
                }else {
                    $.post("../edit",
                        {
                            userName:vm.editUser,
                            userPass:vm.editPass
                        },
                        function(data,status){
                            var _data = data;
                            updateIframe();
                            if(eval(_data)){
                                alert(eval(_data).success);
                            }else{
                                alert(_data);
                            }
                        });
                }
                $("#editPassModal").modal('hide');
                vm.editPass = "";
            },
            submitDelUser(){
                if(vm.delUser==""||vm.delUser==undefined){
                    alert("请选择要删除的用户！");
                }else {
                    $.post("../del",
                        {
                            userName:vm.delUser
                        },
                        function(data,status){
                            var _data = data;
                            updateIframe();
                            if(eval(_data)){
                                alert(eval(_data).success);
                            }else{
                                alert(_data);
                            }
                        });
                }
                $("#delUserModal").modal('hide');
            }
        }
    });
    $(function () {
        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();
        //2.初始化Button的点击事件
        var oButtonInit = new ButtonInit();
        oButtonInit.Init();
    });
    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_user').bootstrapTable({
                url: 'search',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                contentType : "application/x-www-form-urlencoded",//因为如果不指定contentType 的话就会默认以application/json的方式发送数据，java就不能用getParameter拿到内容了，但是可以用输入流接收
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                // cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                // sortable: false,                     //是否启用排序
                // sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber:1,                       //初始化加载第一页，默认第一页
                pageSize: 8,                       //每页的记录行数（*）
                pageList: [8, 25, 50, 100],        //可供选择的每页的行数（*）
                // search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //   height: 400,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [{
                    checkbox: true
                }, {
                    field: 'index',
                    title: '序列号'
                }, {
                    field: 'name',
                    title: '账号'
                }, {
                    field: 'city',
                    title: '城市'
                }, {
                    field: 'role',
                    title: '角色'
                }, {
                    field: 'option',
                    title: '操作',
                    events: operateEvents,
                    formatter: operateFormatter
                }]
            });
        };
        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                username: $("#username").val(),
                city: $("#city").val(),
            };
            return temp;
        };
        return oTableInit;
    };
    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};
        oInit.Init = function () {
            //初始化页面上面的按钮事件
        };
        return oInit;
    };
    function datasearch() {
        $('#tb_user').bootstrapTable('refresh');
    };
    function datareset() {
        $('#username').val("");
        $('#city').val("");
    };
    function operateFormatter(value, row, index) {
        if("ROLE_ADMIN"==row.role){
            return [
                '<button type="button" class="RoleOfA btn btn-default  btn-sm" style="margin-right:15px;" disabled="true">密码重置</button>',
                '<button type="button" class="RoleOfB btn btn-default  btn-sm" style="margin-right:15px;" disabled="true">删除</button>'
            ].join('');
        }else {
            return [
                '<button type="button" class="RoleOfA btn btn-default  btn-sm" style="margin-right:15px;" data-toggle="modal" data-target="#editPassModal">密码重置</button>',
                '<button type="button" class="RoleOfB btn btn-default  btn-sm" style="margin-right:15px;" data-toggle="modal" data-target="#delUserModal">删除</button>'
            ].join('');
        }
    };

    window.operateEvents = {
        'click .RoleOfA': function (e, value, row, index) {
            vm.editUser = row.name;
            vm.editPass = "";
        },
        'click .RoleOfB': function (e, value, row, index) {
            vm.delUser = row.name;
        }
    }

    /**
     * 加载当前用户的所有城市
     */
    $.get("../../city/findAllCity",function (data, status) {
        if(status=="success"){
            var _cityData = eval(data);
            vm.citys = _cityData;
        }
    })

    function resetAddModal() {
        vm.addCity="";
        vm.addUser="";
        vm.addPass="";
    }
    function updateIframe() {
        window.parent.document.getElementById('iframeContent').src="../user/user/query";
    }

</script>
</html>