<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>设备字段维护</title>
    <!-- 引入 BootStrap 全家桶 -->
    <script src="../res/js/jquery-3.2.1.min.js"></script>
    <script src="../res/js/bootstrap.min.js"></script>
    <script src="../res/js/bootstrap-datepicker.js"></script>
    <script src="../res/js/bootstrap-datepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../res/css/bootstrap.min.css"/>

    <!-- 引入Vue.js -->
    <script src="../res/js/vue.min.js"></script>
    <style>
        html,body{
            height: 100%;
            padding: 0px;
        }
        ul{
            margin: 0;
            padding: 0;
        }
        .supplier-head{
            height: 50px;
            line-height: 50px;
        }
        .title{
            height: 38px;
            font-size: 21px;
        }
        .hr{
            margin-top: 0;
            border-bottom: 1px solid #9d9d9d;
        }
        .text-order{
            vertical-align: middle;
            margin-right: 21px;
            margin-left: 10px;
        }
        .list{
            margin: 10px;
            list-style: none;
        }
        .list > li{
            margin: 5px 30px;
            width: 280px;
            text-align: left;
        }
        .list > span{
            width: 156px !important;
            margin-right: 3px;
            margin-top: 1px;
        }
        .list > div > input{
            width: 156px;
            margin: 5px 5px 0 30px;
        }
        .bottom > div > input{
            margin-left: 10px;
            margin-right: 3px;
            width: 157px;
        }
        .inline{
            display: inline-block;
        }
        .width-auto{
            width: 154px !important;
            margin-right: 3px;
        }
        .list > li ,.list > div ,.bottom > div{
            display: none;
        }
        .del-btn{
            margin-top: 2px;
        }
    </style>
</head>
<body>
<div class="app container-fluid width-100per top-content">
    <div class="supplier-head">系统字段维护 > 设备字段添加</div>
    <div class="title">设备基本信息字段维护</div>
    <hr class="hr">
    <span class="text-primary text-order h3">设备类型/名称添加</span><button class="btn btn-sm btn-primary glyphicon glyphicon-plus addTypeBoss"></button>
    <div class="bottom">
        <ul class="list" v-for="(item,index) in eqTypes">
            <span class="btn btn-primary eqTypeButton">{{item.equipmentTypeName}}</span>
            <button class="btn btn-sm btn-success glyphicon glyphicon-plus addTypeButton"></button>
            <button class="btn btn-danger btn-sm del-btn" @click="delTypeMethod(item.equipmentTypeName)">删除该类型</button>
            <li v-for="item2 in eqNames[item.equipmentTypeName]">
                <span class="btn btn-info width-auto">{{item2.eqName}}</span>
                <span class="btn btn-warning btn-sm del-btn"  @click="delNameMethod(item.equipmentTypeName,item2.eqName)">删除该名称</span>
            </li>
            <div>
                <input type="text" class="form-control inline" placeholder="请输入设备名称..." :belongType="item.equipmentTypeName">
                <button class="btn btn-warning addNameButton" style="margin-top: -2px">新增名称</button>
            </div>
        </ul>
        <div>
            <input type="text" class="form-control inline" placeholder="请输入设备类型..." v-model="insertType">
            <button @click="insertTypeMethod()" class="btn btn-primary" style="margin-top: -2px">新增类型</button>
        </div>
    </div>

    <!-- ModalButton -->
    <button id="modalButton" type="button" hidden data-toggle="modal" data-target="#myModal"></button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    <span class="h4">{{modalStatus}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var data = {
        modalStatus:"",
        addTypeShow:false,
        eqTypes:[],
        eqNames:{},
        insertType:"",
        tempType:""
    };
    var vm = new Vue({
        el: '.app',
        data: data,
        updated:function () {
            init();
        },
        methods:{
            insertTypeMethod(){
                if(this.insertType==""){
                    vm.modalStatus = "属性名称不能为空！";
                    $('#modalButton').click();
                    return;
                }
                $.get('../addEquipmentType?equipmentTypeName='+this.insertType,function (data, status) {
                    if(status=='success'){
                        var _data = eval(data);
                        if(!_data){
                            vm.modalStatus="系统发生错误：添加设备类型失败，请通知管理员！";
                        }else if(_data.success){
                            loadData();
                            vm.modalStatus =  _data.success;
                        }else if(_data.eqTypeError){
                            vm.modalStatus = _data.eqTypeError;
                        }
                        $('#modalButton').click();
                    }
                });
                this.insertType = "";
            },
            delNameMethod(eqType,eqName){
                console.log("删除中...："+eqType+"="+eqName);
                $.get('../equipmentName/delName?eqTypeId='+eqType+'&eqName='+eqName,function (data, status) {
                    if(status=='success'){
                        var _data = eval(data);
                        if(!_data){
                            vm.modalStatus="系统发生错误：删除设备名称失败，请通知管理员！";
                        }else if(_data.success){
                            vm.modalStatus =  _data.success;
                            $('#eqFieldAdd', window.parent.document).click();
                        }else if(_data.eqNameError) {
                            console.log(data);
                            vm.modalStatus =  _data.eqNameError;
                        }else{
                            console.log(data);
                            vm.modalStatus =  '发生未知错误！！请通知管理员';
                        }
                        $('#modalButton').click();
                    }
                })
            },delTypeMethod(eqType){//eqTypeError
                $.get("../equipmentType/del?equipmentTypeName="+eqType,function (data, status) {
                    if(status=="success"){
                        var _data = eval(data);
                        if(!_data){
                            vm.modalStatus="系统发生错误：删除设备类型失败，请通知管理员！";
                        }else if(_data.success){
                            vm.modalStatus =  _data.success;
                            $('#eqFieldAdd', window.parent.document).click();
                        }else if(_data.eqTypeError) {
                            console.log(data);
                            vm.modalStatus =  _data.eqTypeError;
                        }else{
                            console.log(data);
                            vm.modalStatus =  '发生未知错误！！请通知管理员';
                        }
                        $('#modalButton').click();
                    }
                })
            }
        }
    });

    function init() {
        $('.addTypeBoss').unbind("click").click(function (e) {
            $(this).toggleClass('glyphicon-minus btn-danger','glyphicon-plus btn-primary');
            var target = $('.bottom').children('div');
            $(target).slideToggle();
        });
        $('.addTypeButton').unbind("click").click(function (e) {
            $(this).toggleClass('glyphicon-minus btn-danger','glyphicon-plus btn-success');
            var target = $(this).parent('ul').children('div');
            $(target).slideToggle();
        });
        $('.eqTypeButton').unbind("click").click(function (e) {
            var target = $(this).parent('ul').children('li');
            $(target).slideToggle();
        });
        $('.addNameButton').unbind("click").click(function (e) {
            //$(this).parent('ul').children('li').slideToggle();
            var targetInput = $(this).prev();
            var targetType = $(targetInput).attr('belongType');
            var value = $(targetInput).val();
            if(value == ""){
                vm.modalStatus = "属性名称不能为空！";
                $('#modalButton').click();
                return ;
            }
            $.get('../addSingleEquipmentName?eqName='+value+"&eqTypeId="+targetType,function (data, status) {
                if(status=="success"){
                    var _data = eval(data);
                    $(targetInput).val("");
                    if(!_data){
                        vm.modalStatus="系统发生错误：添加设备名称失败，请通知管理员！";
                    }else if(_data.success){
                        $('#eqFieldAdd', window.parent.document).click();
                        vm.modalStatus =  _data.success;
                    }else if(_data.eqNameError){
                        vm.modalStatus = _data.eqNameError;
                    }
                    $('#modalButton').click();
                }
            });
        });
    }

    var eqNameTemps={};
    var count = 0;
    loadData();
    function loadData() {
        $.get("../showAllEquipmentType",function (data,status) {
            if(status=='success'){
                var _data = eval(data);

                //遍历eqTypes获取当前类型下的设备名称
                count = 0;
                for(index in _data){

                    vm.tempType = _data[index].equipmentTypeName;

                    $.get('../findAllEquipmentNameByEqTypeName?eqTypeId='+vm.tempType,function (data, status) {

                        if('success' == status){
                            var _eqNamesData = eval(data);
                            if(!_eqNamesData){
                                vm.modalStatus="系统发生错误：查询设备名称失败，请通知管理员！";
                                $('#modalButton').click();
                                return;
                            }else {
                                eqNameTemps[_eqNamesData.key]=_eqNamesData.data;
                            }
                            ++count;
                            if(count == _data.length){
                                vm.eqTypes = _data;
                                vm.eqNames = eqNameTemps;
                                vm.$forceUpdate();
                            }
                        }
                    });
                }
            }
        });
    }
    init();
</script>
</html>