<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ejie.dao.DepartmentMapper">
    <insert id="addDepartment">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            SELECT uuid()
        </selectKey>
        INSERT INTO department VALUES(#{id},#{city},#{department})
    </insert>
    <select id="findDepartmentByCity" resultType="cn.ejie.pocustom.DepartmentCustom">
        SELECT department FROM department WHERE city = #{city}
    </select>
    <select id="hasDepartment" resultType="java.lang.Integer">
        SELECT count(id) FROM department WHERE city = #{city} and department = #{department}
    </select>
    <select id="findDepartmentIDByDepName" resultType="String">
        SELECT id FROM department WHERE department = #{dep}
    </select>
</mapper>