<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ejie.dao.EquipmentMapper">
    <insert id="insertSingleEquipment">
        <selectKey keyProperty="eqId" order="BEFORE" resultType="java.lang.String">
            SELECT uuid()
        </selectKey>
        INSERT INTO equipment(eq_id,eq_type,eq_name,brand_name,
        purchas_depart,belong_depart,purchas_date,supplier,eq_state,
        purchas_price,custom_message,buyCity,city,eq_other_id) VALUES(#{eqId},#{eqType},#{eqName},
        #{brandName},#{purchasDepart},#{belongDepart},#{purchasTime},#{supplier},
        #{eqStateId},#{purchasPrice},#{customMessage},#{buyCity},#{city},#{eqOtherId})
    </insert>
    <select id="countEquipment" resultType="java.lang.Integer">
        SELECT count(eq_id) FROM equipment
    </select>
    <select id="findAllBySql" resultType="cn.ejie.pocustom.EquipmentCustom" parameterType="String">
        ${value}
    </select>
    <select id="findAll" resultType="cn.ejie.pocustom.EquipmentCustom">
        SELECT eq_id as eqId,eq_type as eqType,eq_name as eqName,brand_name as brandName,purchas_depart as purchasDepart,belong_depart as belongDepart,purchas_date as purchasTime,supplier as supplier,eq_state as eqStateId,purchas_price as purchasPrice,custom_message as customMessage,eq_other_id as eqOtherId,city as city FROM equipment
    </select>
    <select id="findById" resultType="cn.ejie.pocustom.EquipmentCustom">
        SELECT eq_id as eqId,eq_type as eqType,eq_name as eqName,brand_name as brandName,purchas_depart as purchasDepart,belong_depart as belongDepart,purchas_date as purchasTime,supplier as supplier,eq_state as eqStateId,purchas_price as purchasPrice,custom_message as customMessage,eq_other_id as eqOtherId,city as city FROM equipment WHERE eq_id = #{id}
    </select>
    <select id="countEquipmentByCity" resultType="int">
        SELECT count(eq_id) FROM equipment WHERE city = #{cityID}
    </select>
    <delete id="delEquipmentByEqTypeAndEqName">
        DELETE FROM equipment WHERE eq_type = #{eqType} AND eq_name = #{eqName}
    </delete>
    <delete id="delEquipmentByEqType">
        DELETE FROM equipment WHERE eq_type = #{eqType}
    </delete>
    <select id="countEquipmentByEqTypeAndEqName" resultType="int">
        SELECT count(eq_id) FROM equipment WHERE eq_type = #{eqType} AND eq_name = #{eqName}
    </select>
    <select id="countEquipmentByEqType" resultType="int">
        SELECT count(eq_id) FROM equipment WHERE eq_type = #{eqType}
    </select>
    <select id="countEquipmentByDepartment" resultType="int">
        SELECT count(eq_id) FROM equipment WHERE purchas_depart = #{department} OR belong_depart = #{department}
    </select>
    <select id="countAnyEquipmentByCityID" resultType="int">
        SELECT count(eq_id) FROM equipment WHERE city = #{cityID} OR buyCity = #{cityID}
    </select>
    <update id="updateEquipment" parameterType="cn.ejie.pocustom.EquipmentCustom">
        update equipment set eq_type = #{eqType},eq_name = #{eqName},belong_depart = #{belongDepart},purchas_date =
        #{purchasTime},supplier = #{supplier},eq_state = #{eqStateId},city = #{city},custom_message = #{customMessage}
        where eq_id=#{eqId}
    </update>
    <!--<select id="findAllKindsEq" resultType="cn.ejie.pocustom.EquipmentCustom">
        SELECT MIN(eq_id) eqId,eq_type as eqType,eq_name as eqName,city FROM equipment GROUP by city
    </select>-->
    <select id="findAllKindsEq" resultType="cn.ejie.pocustom.EquipmentCustom">
        SELECT distinct eq_type as eqType,eq_name as eqName,brand_name as brandName,city FROM equipment
    </select>
    <select id="findAllKindsEqByCityId" resultType="cn.ejie.pocustom.EquipmentCustom">
        SELECT distinct eq_type as eqType,eq_name as eqName,brand_name as brandName,city FROM equipment WHERE city =
        #{cytyId}
    </select>
    <select id="countEqForStatis" resultType="int">
        SELECT count(*) FROM equipment WHERE eq_name = #{arg0} AND brand_name = #{arg1} AND city = #{arg2}
    </select>
    <select id="sumEqMoneyForStatis" resultType="java.lang.Double">
        select COALESCE(sum(purchas_price),0) from equipment where eq_name = #{arg0} AND brand_name = #{arg1} AND city
         = #{arg2}
    </select>
    <select id="countEqForStatisByState" resultType="int">
        SELECT count(*) FROM equipment WHERE eq_name = #{arg0} AND brand_name = #{arg1} AND city = #{arg2} AND
        eq_state = #{arg3}
    </select>
</mapper>