<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ejie.dao.MaxValueMapper">
    <select id="findValueByKey" resultType="String">
        SELECT `value` FROM `maxvalue` WHERE `key` = #{key}
    </select>
    <update id="updataMaxValue">
        UPDATE `maxvalue` SET `value` = #{value} WHERE `key` = #{key}
    </update>
    <insert id="insertMaxValue">
        INSERT INTO `maxvalue` VALUES(#{key},#{value})
    </insert>
</mapper>