<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ejie.dao.SupplierMapper">
    <select id="findAllSupplier" resultType="cn.ejie.pocustom.SupplierCustom">
        SELECT `name`, adtitude, address, contact_name contactName,
         tel, business, contract_time contractTime, custom_message customMessage FROM supplier
    </select>
    <select id="hasSupplierByName" resultType="java.lang.Integer">
        SELECT count(id) FROM supplier WHERE `name`=#{name}
    </select>
    <insert id="addSingleSupplier">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            SELECT uuid()
        </selectKey>
        INSERT INTO supplier(id,`name`,adtitude,address,contact_name,tel,business,contract_time,custom_message)
        VALUES (#{id},#{name},#{adtitude},#{address},#{contactName},#{tel},#{business},#{contractTime},
        #{customMessage})
    </insert>
</mapper>